body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2f41a5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  background: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav-img{
  height:30px;
  margin-right: 7px;
}

.nav-txt1{
  margin-right: auto;
  color: #61DAFB;
}

.nav-txt2{
  
  color: white;
}

.main-background{
  align-items: left;
  padding: 57px 27px;
}

.main-txt{
  align-items: left;
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-list{
  align-items: left;
  margin-top: 46px;
  width:50px;
}

main{
  color: white;
}

.main-list > li{
  line-height: 19px;
  padding-block: 10px;
  
}

.main-list > li::marker{
font-size: 1.4rem;  
color: #61DAFB;
  
}